 *{margin:0;padding:0;outline:none}
 body{font-family:verdana}.phpcoding{width:900px; margin: 0 auto;background:#638FB4}
 .headeroption {
  background: #444 url("../img/admin2.jpg") no-repeat scroll 0 0;
  border-bottom: 2px solid #444444;
  height: 150px;
}
.footeroption{background:#202633;color:#fff;text-align:center;padding:20px; font-family: "Times New Roman", Georgia, Serif;}
 .headeroption h2, .footeroption h2{margin:0;font-size:24px}
.maincontent {
  font-size: 18px;
  min-height: 430px;
  padding: 20px;
}
.success{
  color:green;
}
.error {
  color: red;

}
 p{margin:0}
input[type="text"], input[type="password"]{
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 5px;
  width: 330px;
}
input[type="number"]{
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 5px;
  width: 100px;
}
input[type="submit"] {
  cursor: pointer;
  font-size: 15px;
  padding: 1px 10px;
}
.tblone{width:100%;border:1px solid #fff;margin:20px 0}
.tblone td {
  font-size: 15px;
  padding: 5px 10px;
}
table.tblone th {
  background-color: #d0d0d0;
  border: 1px solid #999;
}
 table.tblone tr:nth-child(2n+1){background:#fff;height:30px;}
 table.tblone tr:nth-child(2n){background:#f1f1f1;height:30px;}
.tblone td a{color:#3399FF;}
.main {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #999;
  margin-top: 10px;
  min-height: 368px;
  padding: 15px;
  width: 828px;
}
.main h1 {
  border-bottom: 1px solid #ddd;
  text-align: center;
  color: #766063;
  margin: 0 0 5px;
  padding-bottom: 5px;
  
}
.menu{overflow:hidden;}
.menu ul{margin:0;padding:0;list-style:none}
.menu ul li{display:block;float:left;}
.menu ul li a {
  border: 1px solid #9f9f9f;
  border-radius: 3px;
  color: #010002;
  font-family: "Times New Roman", Times, serif;
  display: block;
  font-size: 21px;
  margin: 0 5px 5px;
  padding: 1px 5px 3px;
  text-decoration: none;
}
.menu ul li a:hover{border:1px solid #fff;;color: #fff;}
.segment {
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  float: left;
  min-height: 225px;
  padding: 20px;
  width: 357px;
}
.segment img {
  height: 200px;
  margin-left: 80px;
  padding-top: 12px;
}
.segment h2 {
  border-bottom: 1px solid #ddd;
  font-size: 20px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  text-align: center;
}
.segment a{color: #3399ff;text-decoration:underline}
.segment a:hover{text-decoration:none}
.segment ul {
  list-style: outside none none;
  margin: 0 0 0 70px;
  padding: 0;
}
.segment ul  li{}
.segment ul li a {
  border: 1px solid #3399ff;
  border-radius: 3px;
  color: #3399ff;
  display: block;
  margin-bottom: 5px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  width: 200px;
}
.segment ul  li a:hover{border: 1px solid #999; color: #999;}


.test {
  border: 1px solid #f3f3f3;
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
}
.test input[type="radio"] {
  margin-bottom: 10px;
  margin-right: 10px;
  cursor:pointer;
}
.test h3 {
  border-bottom: 1px solid #f3f3f3;
  font-size: 16px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.starttest {
  border: 1px solid #f4f4f4;
  margin: 0 auto;
  padding: 20px;
  width: 590px;
}
.starttest h2 {
  border-bottom: 1px dashed #ddd;
  font-size: 20px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.starttest ul{margin:0;padding:0; list-style:none;}
.starttest ul li{margin-top:5px;}
.starttest a {
  background: #f4f4f4 none repeat scroll 0 0;
  border: 1px solid #ddd;
  color: #3399ff;
  display: block;
  margin-top: 10px;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
}